.generalList {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    max-height: 100% !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}