.controller {
    display: flex;
    align-items: center;
    &_file {
      height: 100%;
      width: auto;
      margin-left: auto !important;
      display: flex;
      align-items: center;
    }
}