body {
    background-color: $colorBackground !important;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    font-family: 'Poppins' !important;
    font-size: 14px !important;
    color: #ffffff;
}