$colorPrimaryBase: #25323a;
$colorPrimaryLight: #4e5b64;
$colorPrimaryDark: #000a14;

$colorSecondaryBase: #21cece;
$colorSecondaryLight: #6cffff;
$colorSecondaryDark: #009c9d;

$colorBackground: #323133;