<div class="manager">
  <div class="toolbar">
    <div class="searchUser">
      <mat-icon class="searchIcon" aria-hidden="false" aria-label="search">
        search
      </mat-icon>
      <form class="searchForm">
        <input type="text" name="searchUser" id="searchUser">
      </form>
    </div>
    <div class="btnContainer">
      <button class="addUser">
        <mat-icon title="New User" aria-hidden="false" aria-label="add User" (click)="refresh()">
          refresh
        </mat-icon>
      </button>
      <button class="addUser">  
        <mat-icon title="New User" aria-hidden="false" aria-label="add User">
          add
        </mat-icon>
      </button>
    </div>
  </div>
  <div class="loader" *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="manager_table">
    <div class="manager_head">
      <div class="manager_header fiveGrid">
        <div *ngFor="let head of headers | async">{{ head.name }}</div>
      </div>
    </div>
    <div class="manager_content">
      <div [id]="user._id" class="fiveGrid" *ngFor="let user of users$ | async">
        <div>{{ user.role }}</div>
        <div>{{ user.username }}</div>
        <div>{{ user.lastLogin ? (user.lastLogin | date: 'MMM d, y, h:mm:ss a') : 'N/A' }}</div>
        <div>{{ user.email }}</div>
      </div>
    </div>
  </div>
</div>
